@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");




body {
  max-width: 100%;
  height: auto;   
  background-image: url(./Assets/churrasco.jpg); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
   
}

.container {  
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
  width: 30%;
  max-width: 100%;
  max-height: 100vh;
  height: auto;
  margin: auto;  
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 55px black;  
}

h1 {
  margin-top: 0;
}

input {
  width: 100%;  
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

button {  
  width: 100%;
  margin: auto;
  padding: 10px;
  border: none;
  background-color: #ed5a5a;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 2px 1em black;
}

#resultado {
  padding-top: 20px;
  font-size: 25px;
  padding-bottom: 20px;  
}



@media screen and (max-width: 1240px) {
  .container {    
    width: 370px;
    
  }
}

@media screen and (max-width: 500px) {
    body{        
        margin: 0;
        width: 100%;
        min-height: 100vh;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }    

    .container {
      
        margin: 0;
      padding: 0;
      position: relative;        
      width: 100%;
      height: 100vh;
      border-radius: 0;
      top: 0;
      left: 0;      
      transform: none;             
    }
  
    #resultado {
      padding-top: 0px;
    }
  
    button {
      margin: 0px;
    }

    input, button{
        width: 90%;
        
    }

    #resultado{        
        font-size: 35px;
    }

    h1{
        padding-top: 20px;
    }
  }
